@model IEnumerable<MouseRidersWeb.DTO.RespuestaDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="customh2">Gestión de Respuestas</h2>
<div class="table-responsive">
    <table class="table table-condensed table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Respuesta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Frecuencia)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Respuesta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contador)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Frecuencia)
                </td>
                <td>
                   
                </td>
            </tr>
        }

    </table>
</div>