@model MouseRidersWeb.DTO.EncuestaDTO

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="customh2">Nueva Encuesta</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="editor-label ptitle">
            Título
        </div>
        <span class="custom-field">
            @Html.EditorFor(model => model.titulo)
            @Html.ValidationMessageFor(model => model.titulo)
        </span>
        <div class="editor-label ptitle">
            Descripción
        </div>
        <div class="custom-field">
            @Html.EditorFor(model => model.descripcion)
            @Html.ValidationMessageFor(model => model.descripcion)
        </div>
        <div class="table-responsive">
            <table class="table-striped col-lg-12">
                @if (Model != null)
                {
                    if (Model.Tiene != null)
                    {
                        for (int i = 0; i < Model.Tiene.Count; i++)
                        {
                            var item = Model.Tiene[i];
                            <tr>
                                <p class="penhanced">
                                    <h3 class="customh3">
                                        Pregunta numero @(i + 1)
                                    </h3>

                                </p>
                                <div class="custom-field">
                                    @Html.EditorFor(itemModel => item.Pregunta)
                                    @Html.ValidationMessageFor(itemModel => item.Pregunta)
                                </div>
                                <fieldset>
                                    @for (int j = 0; j < item.Tiene.Count; j++)
                                    {
                                        var respuesta = item.Tiene[j];
                                        <p>Respuesta numero @(j + 1)</p>
                                        <div class="custom-field">
                                            @Html.EditorFor(respuestaModel => respuesta.Respuesta)
                                            @Html.ValidationMessageFor(respuestaModel => respuesta.Respuesta)
                                        </div>
                                    }
                                </fieldset>
                            </tr>
                        }
                    }
                }

    </fieldset>

    <table></table>
    <p>
        <input type="submit" class="btn-lg btn-block btn-success" value="Crear Encuesta" />
    </p>
    <div></div>

}

<div>
    @Html.ActionLink("Volver", "Index", "Encuesta", null, new { @class = "btn btn-default btn-lg btn-block" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
