@model MouseRidersWeb.DTO.EncuestaDTO

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="customh2">Editar Encuesta</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="editor-label ptitle">
            Título de la encuesta 
        </div>
        <div class="custom-field">
            @Html.EditorFor(model => model.titulo)
            @Html.ValidationMessageFor(model => model.titulo)
        </div>

        <p>
            <input type="submit" class="btn-lg btn-block btn-success" value="Guardar Cambios" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Volver", "Index", "Encuesta", null, new { @class = "btn btn-default btn-lg btn-block" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
