@model MouseRidersWeb.DTO.EncuestaDTO

@{
    ViewBag.Title = "Realizar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Realizar", "Encuesta", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <h2 class="customh2">@Html.DisplayFor(model => model.titulo)</h2>

    for (int i = 0; i < Model.Tiene.Count; i++)
    {
        var preg = Model.Tiene[i];
        <fieldset class="encuesta">
            <h2>
                @Html.DisplayFor(modelpreg => preg.Pregunta)
            </h2>
            @foreach (var resp in preg.Tiene)
            {

                @Html.RadioButtonFor(itemModel => resp.Id, resp.Respuesta, new { id = resp.Id, @Name = "Resp_" + i })
                <label for=@resp.Respuesta>@resp.Respuesta</label>
                <br />
            }
        </fieldset>

    }
    <p>
        <input type="submit" value="Enviar" class="btn btn-primary btn-lg btn-block " />
    </p>
}
<p>
    @Html.ActionLink("Volver", "Index", "Encuesta", null, new { @class = "btn btn-default btn-lg btn-block " })
</p>

<script>
    $(window).resize(function () {
        var aux = $(window).width();
        Cookies.set('width', aux);
    });
</script>