
@model IEnumerable<MRModel.EN.SeccionEN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="customheader">

    <h2 class="customh2">Secciones</h2>

</div>


<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Seccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Seccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    <button class="btn btn-default">
                        @Html.ActionLink("Editar", "Edit", new {  id=item.PrimaryKey,   @class = "btn btn-default" })
                    </button>
                    <button class="btn btn-info">
                        @Html.ActionLink("Detalles", "Details", new {  id=item.PrimaryKey , @class = "btn btn-info" })
                    </button>
                    <button class="btn btn-danger">
                        @Html.ActionLink("Eliminar", "Delete", new { id=item.PrimaryKey, @class = "btn btn-danger" })
                    </button>
                </td>
            </tr>
        }
    </table>
</div>

<p class="btn btn-success">
    @Html.ActionLink("Crear nueva sección", "Create")
</p>
