@model MouseRidersWeb.DTO.ArticuloDTO

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="customh2">Eliminar Artículo</h2>

<h3>¿Está seguro de que desea eliminar este artículo?</h3>

<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title ptitle text-uppercase">@Html.DisplayFor(model => model.Titulo)</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class=" col-md-12 col-lg-12 ">
                    <table class="table table-user-information">
                        <tbody class="pprofile">
                            <tr>
                                <td>Título</td>
                                <td>@Html.DisplayFor(model => model.Titulo)</td>
                            </tr>
                            <tr>
                                <td>Fecha</td>
                                <td>@Html.DisplayFor(model => model.Fecha)</td>
                            </tr>
                            <tr>
                                <td>Autor</td>
                                <td>@Html.DisplayFor(model => model.Autor)</td>
                            </tr>
                            <tr>
                                <td>Puntuación</td>
                                <td>@Html.DisplayFor(model => model.Puntuacion)</td>
                            </tr>
                            <tr>
                                <td>Contenido</td>
                                <td>@Html.DisplayFor(model => model.Contenido)</td>
                            </tr>
                            <tr>
                                <td>Contenido Descargable</td>
                                <td>@Html.DisplayFor(model => model.ContenidoDescargable)</td>
                            </tr>
                            <tr>
                                <td>Contador</td>
                                <td>@Html.DisplayFor(model => model.Contador)</td>
                            </tr>
                            <tr>
                                <td>Subtítulo</td>
                                <td>@Html.DisplayFor(model => model.Subtitulo)</td>
                            </tr>
                            <tr>
                                <td>Portada</td>
                                <td>@Html.DisplayFor(model => model.Portada)</td>
                            </tr>
                            <tr>
                                <td>Descripción</td>
                                <td>@Html.DisplayFor(model => model.Descripcion)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" class="btn-lg btn-danger btn-block" value="Eliminar" />
        <p>
            @Html.ActionLink("Volver", "Index", "Articulo", null, new { @class = "btn btn-default btn-lg btn-block " })
        </p>
        </p>
    }
</div>
    




