@model MouseRidersWeb.DTO.ArticuloDTO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>ArticuloDTO</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Titulo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Titulo)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Fecha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fecha)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Autor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Autor)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Puntuacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Puntuacion)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Contenido)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contenido)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ContenidoDescargable)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContenidoDescargable)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Contador)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contador)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Subtitulo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Subtitulo)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Portada)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Portada)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descripcion)
    </div>
    @foreach (var item in Model.Comentario)
    {
        Html.RenderAction("Details", "Comentario", new { id = item.Id });
    }
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
