@RenderSection("admin", required: false)
<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Mouse Riders</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/one-page-wonder.css" rel="stylesheet">
    <link href="~/Content/Custom.css" rel="stylesheet">
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/globalize.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/bootstrap.min.js"></script>
    <style>
        .glyphicon-star {
            color: #e67e22;
        }

            .glyphicon-star.half {
                position: relative;
            }

                .glyphicon-star.half:before {
                    position: relative;
                    z-index: 9;
                    width: 47%;
                    display: block;
                    overflow: hidden;
                }

                .glyphicon-star.half:after {
                    content: '\e006';
                    position: absolute;
                    z-index: 8;
                    color: #bdc3c7;
                    top: 0;
                    left: 0;
                }
    </style>
    @{
        int rolSession = 0;
        bool haySession;
        if (@Session["user_rol"] != null)
        {
            haySession = !Int32.TryParse(@Session["user_rol"].ToString(), out rolSession);
        }
        else
        {
            haySession = true;
        }
    }
    <script src="~/Scripts/js.cookie.js"></script>
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/Index">Mouse Riders</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("Secciones", "Index", "Seccion")
                    </li>
                    <li>
                        @Html.ActionLink("Noticias", "Index", "Noticias")
                    </li>
                    <li>
                        @Html.ActionLink("Foro", "Index", "Hilo")
                    </li>
                    <li>
                        @Html.ActionLink("Encuestas", "Index", "Encuesta")
                    </li>
                    <li>
                        @Html.ActionLink("Sobre nosotros", "Index", "Redaccion")
                    </li>
                    <li>
                        @Html.ActionLink("Ayuda", "Index", "Ayuda")
                    </li>
                    @if (!haySession)
                    {
                    <li>
                        @Html.ActionLink("Mi Perfil", "Details/" + Session["user_id"], "Usuario")
                    </li>}
                    else
                    {
                    <li>
                        @Html.ActionLink("Iniciar Sesión/Registrarse", "Login", "Usuario")
                    </li>}

                    <li>
                        @Html.ActionLink("Buscador", "Index", "Busqueda")
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    @if (!haySession)
    {
        if (rolSession == 1)
        { @*Usuario*@

        }
        else if (rolSession == 2)
        { @*Admin*@
        <nav class="navbar navbar-inverse" role="navigation" id="second-navbar">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/Home/Index">Administración</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href=""> Contenido </a>
                        </li>
                        <li>
                            <a href=""> Secciones </a>
                        </li>
                        <li>
                            <a href=""> Permisos </a>
                        </li>
                        <li>
                            <a href=""> Usuarios </a>
                        </li>
                        <li>
                            @Html.ActionLink("Puestos", "MensajePorTipo", "Mensaje", new { tipo = @MouseRidersGenNHibernate.Enumerated.MouseRiders.T_MensajeEnum.solicitud }, null)
                        </li>
                        <li>
                            @Html.ActionLink("Notificaciones", "MensajePorTipo", "Mensaje", new { tipo = @MouseRidersGenNHibernate.Enumerated.MouseRiders.T_MensajeEnum.notificacion }, null)
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        }
        else if (rolSession == 3)
        { @*Redactor*@
        <nav class="navbar navbar-inverse" role="navigation" id="second-navbar">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/Home/Index">Redacción</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="">Gestión de Secciones</a>
                        </li>
                        <li>
                            <a href="">Gestión de Sugerencias</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        }
        else if (rolSession == 4)
        { @*//Admin_Foro*@
        <nav class="navbar navbar-inverse" role="navigation" id="second-navbar">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-4">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/Home/Index">Moderación</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-4">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="">Gestión de usuarios</a>
                        </li>
                        <li>
                            <a href="">Envío de notificaciones</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        }
    }
    @RenderSection("featured", required: false)

    <div id="body" class="container">

        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>


        <!-- Footer -->
        <footer>
            <div class="row" id="body">
                <div class="col-lg-12">
                    <p>&copy; @DateTime.Now.Year - Mouse Riders Revista Digital</p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
