@model MouseRidersWeb.DTO.UsuarioDTO

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="customh2">Eliminar perfil</h2>
<p id="error">¿Estás seguro de que deseas eliminar tu perfil? Esta acción es irreversible. Tus comentarios y otra información permanecerá en el sistema, pero tu usuario dejará de existir.</p>

<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title ptitle text-uppercase">@Html.DisplayFor(model => model.Nombre)</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 col-lg-3 "> <img alt="User Pic" src="~/Contenido/FotosUsuario/@Html.DisplayFor(model => model.FotoUsuario)" class="img-circle img-responsive"> </div>
                <div class=" col-md-9 col-lg-9 ">
                    <table class="table table-user-information">
                        <tbody class="pprofile">
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Email)</td>
                                <td>@Html.DisplayFor(model => model.Email)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Nombre)</td>
                                <td>@Html.DisplayFor(model => model.Nombre)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Apellidos)</td>
                                <td>@Html.DisplayFor(model => model.Apellidos)</td>
                            </tr>

                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Nombreusuario)</td>
                                <td>@Html.DisplayFor(model => model.Nombreusuario)</td>
                            </tr>

                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Pais)</td>
                                <td>@Html.DisplayFor(model => model.Pais)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Telefono)</td>
                                <td>@Html.DisplayFor(model => model.Telefono)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Puntuacion)</td>
                                <td>@Html.DisplayFor(model => model.Puntuacion)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.FechaRegistro)</td>
                                <td>@Html.DisplayFor(model => model.FechaRegistro)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            @Html.ActionLink("Editar mi perfil", "Edit", new { id = Model.Id }, new { @class = "btn-secondary2 btn-lg", style = "text-decoration:none" })
            @Html.ActionLink("Volver a lista de usuarios", "Index", "Usuario", new { @class = "btn-secondary2 btn-lg", style = "text-decoration:none" })
        </div>

    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="Eliminar Perfil" class="btn btn-danger btn-lg btn-block " />
        </p>
    }
