@model MouseRidersWeb.DTO.UsuarioDTO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Request.Params["error"] == "si")
{
    <p id="error">Error al enviar el mensaje: No se ha encontrado el destinatario seleccionado. Asegúrese de escribir un usuario válido antes de enviar un mensaje.</p>
}

<h2 class="customh2">Mi perfil</h2>

<div class="col-lg-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title ptitle text-uppercase">@Html.DisplayFor(model => model.Nombre)</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " > <img alt="User Pic" src="~/Contenido/FotosUsuario/@Html.DisplayFor(model => model.FotoUsuario)" class="img-circle img-responsive"> </div>
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                      <tbody class="pprofile">
                          <tr>
                              <td>@Html.DisplayNameFor(model => model.Email)</td>
                              <td>@Html.DisplayFor(model => model.Email)</td>
                          </tr>
                          <tr>
                              <td>@Html.DisplayNameFor(model => model.Nombre)</td>
                              <td>@Html.DisplayFor(model => model.Nombre)</td>
                          </tr>
                          <tr>
                              <td>@Html.DisplayNameFor(model => model.Apellidos)</td>
                              <td>@Html.DisplayFor(model => model.Apellidos)</td>
                          </tr>

                          <tr>
                              <td>@Html.DisplayNameFor(model => model.Nombreusuario)</td>
                              <td>@Html.DisplayFor(model => model.Nombreusuario)</td>
                          </tr>

                          <tr>
                              <td>@Html.DisplayNameFor(model => model.Pais)</td>
                              <td>@Html.DisplayFor(model => model.Pais)</td>
                          </tr>
                          <tr>
                              <td>@Html.DisplayNameFor(model => model.Telefono)</td>
                              <td>@Html.DisplayFor(model => model.Telefono)</td>
                          </tr>
                          <tr>
                              <td>@Html.DisplayNameFor(model => model.Puntuacion)</td>
                              <td>@Html.DisplayFor(model => model.Puntuacion)</td>
                          </tr>
                          <tr>
                              <td>@Html.DisplayNameFor(model => model.FechaRegistro)</td>
                              <td>@Html.DisplayFor(model => model.FechaRegistro)</td>
                          </tr>
                    </tbody>
                  </table>
                </div>
              </div>
                @Html.ActionLink( "Editar mi perfil","Edit", new { id = Model.Id }, new { @class = "btn-secondary2 btn-lg", style = "text-decoration:none" })
                @Html.ActionLink("Volver a lista de usuarios", "Index", new{}, new { @class = "btn-secondary2 btn-lg", style = "text-decoration:none" })
            </div>
              
        </div>
        <div>
            <h3 class="customh3" id="bandejaE">Mensajes</h3>
            <div class="btn-group-justified" role="group">
                <a href="" class="btn btn-secondary2" id="enviados">Mensajes Enviados</a>
                <a href="" class="btn btn-secondary2" id="recibidos">Mensajes Recibidos</a>
                <a href="" class="btn btn-secondary2" id="nuevo">Nuevo Mensaje</a>
            </div>
        </div>
    </div>

@Html.HiddenFor(model => model.Id, new { id = "ident", value = Model.Id });

<div>
    
    @{Html.RenderAction("VerMensajesRecibidos", "Usuario", new { id = Model.Id });}
</div>

<script>
    $(function () {

        $("#enviados").on("click", function (e) {

            e.preventDefault();

            var url = "/Usuario/VerMensajesEnviados/";
            var aux = $('#ident').val();
            $.ajax({
                url: url,
                data: { id: 32768 },
                cache: false,
                type: "GET",
                success: function (data) {
                    $("#bandeja").replaceWith(data);
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText);
                    alert("message : \n" +
                        "An error occurred, for more info check the js console" +
                        "\n status : \n" + status + " \n error : \n" + error);
                }
            });

        });

        $("#recibidos").on("click", function (e) {

            e.preventDefault();

            var url = "/Usuario/VerMensajesRecibidos/";
            var aux = $('#ident').val();
            $.ajax({
                url: url,
                data: { id: 32768 },
                cache: false,
                type: "GET",
                success: function (data) {
                    $("#bandeja").replaceWith(data);
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText);
                    alert("message : \n" +
                        "An error occurred, for more info check the js console" +
                        "\n status : \n" + status + " \n error : \n" + error);
                }
            });

        });

        $("#nuevo").on("click", function (e) {

            e.preventDefault();

            var url = "/Mensaje/Create/";
            $.ajax({
                url: url,
                data: null,
                cache: false,
                type: "GET",
                success: function (data) {
                    $("#bandeja").replaceWith(data);
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText);
                    alert("message : \n" +
                        "An error occurred, for more info check the js console" +
                        "\n status : \n" + status + " \n error : \n" + error);
                }
            });

        });
    });
</script>