@model MouseRidersWeb.DTO.UsuarioDTO

@{
    ViewBag.Title = "View1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="customh2">Datos del usuario</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        <div class="editor-label ptitle">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="custom-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label ptitle">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="custom-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label ptitle">
            @Html.LabelFor(model => model.Apellidos)
        </div>
        <div class="custom-field">
            @Html.EditorFor(model => model.Apellidos)
            @Html.ValidationMessageFor(model => model.Apellidos)
        </div>

        <div class="editor-label ptitle">
            @Html.LabelFor(model => model.Pais)
        </div>
        <div class="custom-field">
            @Html.EditorFor(model => model.Pais)
            @Html.ValidationMessageFor(model => model.Pais)
        </div>

        <div class="editor-label ptitle">
            @Html.LabelFor(model => model.Telefono)
        </div>
        <div class="custom-field">
            @Html.EditorFor(model => model.Telefono)
            @Html.ValidationMessageFor(model => model.Telefono)
        </div>
        
        <div class="editor-label ptitle">
            @Html.LabelFor(model => model.Contrasenya)
        </div>
        <div class="custom-field">
            @Html.EditorFor(model => model.Contrasenya)
            @Html.ValidationMessageFor(model => model.Contrasenya)
        </div>

        <div class="editor-label ptitle">
            @Html.LabelFor(model => model.Nombreusuario)
        </div>
        <div class="custom-field">
            @Html.EditorFor(model => model.Nombreusuario)
            @Html.ValidationMessageFor(model => model.Nombreusuario)
        </div>
        

        <p>
            <input type="submit" class="btn-lg btn-success" value="Guardar Cambios" />
        </p>
    </fieldset>
}<div class="editor-label">
    @{Html.RenderAction("Upload1", "Usuario");}
</div>

<div>
    @Html.ActionLink("Volver", "Index")
</div>
