@model IEnumerable<MouseRidersWeb.DTO.UsuarioDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="customh2">Gestión de Usuarios</h2>

<p>
    @Html.ActionLink("Crear nuevo usuario", "Create", "Usuario", null, new { @class = "btn btn-default btn-lg btn-block " })
</p>
<div class="table-responsive">
    <table class="table table-condensed table-striped">
        <tr>
            <th>
                Email
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellidos
            </th>
            <th>
                País
            </th>
            <th>
                Teléfono
            </th>
            <th>
                Puntuación
            </th>
            <th>
                Contraseña
            </th>
            <th>
                Nombre de Usuario
            </th>
            <th>
                Fecha de Registro
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellidos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pais)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Puntuacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contrasenya)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombreusuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaRegistro)
                </td>
                <td>
                    @Html.ActionLink("Modificar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Ver Perfil", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Ver Denuncias Recibidas", "VerDenunciasRecibidas", new { id = item.Id }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>