@model MRWeb.Models.LoginModel

@{
    ViewBag.Title = "Iniciar sesión";
}



<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>



<section id="loginForm">
    <h2>Utilice una cuenta local para iniciar sesión.</h2>
    @using (Html.BeginForm("register_login","AccountController", new { ReturnUrl = ViewBag.ReturnUrl }, 
        FormMethod.Post, new{@class="form-inline"}))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Formulario de inicio de sesión</legend>
            <ul>
                <li>
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName,new{ @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </li>
                <li>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </li>
                <li>
                    <div class="form-group">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                    </div>
                </li>
            </ul>
            <input type="submit" class="btn btn-primary" value="Iniciar sesión" />
        </fieldset>
        <p>
            @Html.ActionLink("Regístrese", "Register") si no tiene ninguna cuenta.
        </p>
    }
</section>

<section class="social" id="socialLoginForm">
    <h2>Usar otro servicio para iniciar sesión.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

