@model MouseRidersWeb.DTO.UsuarioDTO

@{
    ViewBag.Title = "VerMensajesEnviados";
    Layout = null;
}
<fieldset id="bandeja">
    <h3 class="customh3">Enviados</h3>
    @foreach (var item in Model.Enviado)
    {
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title pprofile">Asunto: @Html.DisplayFor(modelItem => item.Asunto)</h3>
                </div>
                <div class="panel-body penhanced">
                    <div class="row">
                        <div>
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Texto)</td>
                                    </tr>
                                    <tr>
                                        <td>Archivos adjuntos: @Html.DisplayFor(modelItem => item.Adjunto)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        /*
            <p>
                @Html.DisplayFor(modelItem => item.Id)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.Asunto)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.Texto)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.Adjunto)
            </p>
     *


     * */
    }
</fieldset>