@model MouseRidersWeb.DTO.UsuarioDTO

@{
    ViewBag.Title = "VerMensajesRecibidos";
    Layout = null;
}


@foreach (var item in Model.Recibe)
{
    <div class="col-sm-12">
        <h3 class="customh3">Bandeja de entrada</h3>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title psection">@Html.DisplayFor(modelItem => item.Asunto)</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div>
                        <table class="table table-user-information">
                            <tbody>
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Texto)</td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Adjunto)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    /*
            <p>
                @Html.DisplayFor(modelItem => item.Id)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.Asunto)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.Texto)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.Adjunto)
            </p>
     *    
    
    
     * */
}

<p>     
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>