@model MouseRidersWeb.DTO.HiloDTO


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="customh2">Crear nuevo hilo</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        @Html.LabelFor(model => model.Titulo)
        <span class="custom-field">
            @Html.EditorFor(model => model.Titulo)
            @Html.ValidationMessageFor(model => model.Titulo)
        </span>

        <div class="editor-label">
            @Html.LabelFor(model => model.PrimerComentario)
        </div>
        <div class="editor-field">
            @Html.TextArea("PrimerComentario", new { rows = 8, id="comentar", @placeholder = "Escriba aquí su comentario" })
            @Html.ValidationMessageFor(model => model.PrimerComentario)
        </div>

        <input id="NumComentarios" name="NumComentarios" type="hidden" value="0">
        @{
    string aux;
    if (Request.Cookies["email"] != null)
    {
        aux = Request.Cookies["email"].Value;
    }
    else
    {
        aux = "pepe@gmail.com";
    }
    <input id="Creador" name="Creador" type="hidden" value=@aux>
        }
        <p>
            <input type="submit" value="Crear" class="btn btn-default btn-lg btn-block btn-primary" />
        </p>
    </fieldset>
}

@Html.ActionLink("Volver", "Index", "Hilo", null, new { @class = "btn btn-default btn-lg btn-block" })

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
