@model IEnumerable<MouseRidersWeb.DTO.HiloDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="customh2">Foro</h2>
@if ((Session["user_email"] != null && Session["user_email"].ToString() != "")) {
@Html.ActionLink("Crear nuevo hilo", "Create", "Hilo", null, new {@class = "btn btn-default btn-lg btn-block " })
}

@foreach (var item in Model)
{

    <fieldset class="hilo">
        <a href="@Url.Action("Details", "Hilo", new { id= item.Id })"><p class="tituloH"><strong>Título: @Html.DisplayFor(modelItem => item.Titulo)</strong></p></a>

        <p>Fecha de creación: @Html.DisplayFor(modelItem => item.Fecha)</p>
     
        <a href="@Url.Action("Details", "Usuario", new { id= item.ID_Creador })"><p>Creador: @Html.DisplayFor(modelItem => item.Creador)</p></a>

        <p>@Html.DisplayFor(modelItem => item.NumComentarios) comentarios</p>
        @if ((Session["user_email"] != null && Session["user_email"].ToString() == item.Creador) || (Session["user_rol"] != null && Session["user_rol"].ToString() == "2") || (Session["user_rol"] != null && Session["user_rol"].ToString() == "4"))
        { 
        @Html.ActionLink("Editar Hilo", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-xs  " }) 
        @Html.ActionLink("Eliminar Hilo", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-xs  " })
        }
</fieldset>

}

