@model IEnumerable<MouseRidersWeb.DTO.HiloDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header id="foro">
    <h1>
        Foro
    </h1>
</header>

@Html.ActionLink("Crear nuevo hilo", "Create", "Hilo", null, new {@class = "btn btn-default btn-lg btn-block" })

@foreach (var item in Model)
{

    <fieldset class="hilo">
        <a href="@Url.Action("Details", "Hilo", new { id= item.Id })"><p class="tituloH"><strong>Título: @Html.DisplayFor(modelItem => item.Titulo)</strong></p></a>

        <p>Fecha de creación: @Html.DisplayFor(modelItem => item.Fecha)</p>
     
        <a href="@Url.Action("Details", "Usuario", new { id= item.ID_Creador })"><p>Creador: @Html.DisplayFor(modelItem => item.Creador)</p></a>

        <p>@Html.DisplayFor(modelItem => item.NumComentarios) comentarios</p>

        @Html.ActionLink("Editar Hilo", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Eliminar Hilo", "Delete", new { id = item.Id })
</fieldset>

}


