@model MouseRidersWeb.DTO.ComentarioDTO

@{
    ViewBag.Title = "Details";
    Layout = null;
}

<fieldset>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Creador)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Creador)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fecha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fecha)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contenido)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contenido)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Valoracion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Valoracion)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Eliminar", "Delete", new { id = Model.Id })
</p>
