@model MouseRidersWeb.DTO.ComentarioDTO

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2 class="customh2">Editar comentario</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        <div class="editor-label ptitle">
            @Html.LabelFor(model => model.Creador)
        </div>
        <div class="custom-field">
            @Html.EditorFor(model => model.Creador)
            @Html.ValidationMessageFor(model => model.Creador)
        </div>

        <div class="editor-label ptitle">
            @Html.LabelFor(model => model.Fecha)
        </div>
        <div class="custom-field">
            @Html.EditorFor(model => model.Fecha)
            @Html.ValidationMessageFor(model => model.Fecha)
        </div>
        
        <div class="editor-label ptitle">
            @Html.LabelFor(model => model.Contenido)
        </div>
        
        <div class="custom-field">
            @Html.TextArea("Contenido", new { rows = 8, id = "comentar", @placeholder = "Contenido" })
            @Html.ValidationMessageFor(model => model.Contenido)
        </div>

        <div class="editor-label ptitle">
            @Html.LabelFor(model => model.Valoracion)
        </div>
        <div class="custom-field">
            @Html.EditorFor(model => model.Valoracion)
            @Html.ValidationMessageFor(model => model.Valoracion)
        </div>

        <p>
            <input type="submit" class="btn-lg btn-block btn-success" value="Guardar cambios" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Volver", "Index")
</div>
