@model IEnumerable<MouseRidersGenNHibernate.DTO.MouseRiders.ComentarioDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@using(Ajax.BeginForm("Index","Comentario", new { minimo = 2 , maximo = 5},
    new AjaxOptions{
    HttpMethod="get",
    InsertionMode=InsertionMode.Replace,
    UpdateTargetId="prueba"}))
    { 
    <input type="submit" value="Ajax" />
    }
  
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if(Model==null){
    @Html.Partial("_Comentario", new List<MouseRidersGenNHibernate.DTO.MouseRiders.ComentarioDTO>());
}
else
{
    @Html.Partial("_Comentario", Model);
}


<div>
    @{
        int rolSession = 0;
        bool noSession;
        if (@HttpContext.Current.Session["user_rol"] != null)
        {
            noSession = Int32.TryParse(@HttpContext.Current.Session["user_rol"].ToString(), out rolSession);
        }
        else
        {
            noSession = true;
        }
    }
@if (!noSession)
{
    using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        
        @Html.DisplayNameFor(model => model.Contenido)
        //TextArea
        @Html.TextArea("Comentario", new {rows=10, columns=40})
        <input type="submit" value="Create" />
    }
}
</div>
