@model MouseRidersWeb.DTO.MensajeDTO

@{
    ViewBag.Title = "Create";
    Layout = null;
}
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <fieldset id="bandeja">
        <legend class="ptitle">Nuevo Mensaje</legend>

        <div>
            <div class="editor-label ptitle">
                @Html.LabelFor(model => model.Asunto, new { @class = "control-label" })
            </div>
            <div class="custom-field">
                @Html.EditorFor(model => model.Asunto)
                @Html.ValidationMessageFor(model => model.Asunto)
            </div>
        </div>

        <div class="editor-label ptitle">
            @Html.LabelFor(model => model.Destinatario)
        </div>
        <div class="custom-field">
            @Html.EditorFor(model => model.Destinatario)
            @Html.ValidationMessageFor(model => model.Destinatario)
        </div>

        <div class="editor-label ptitle">
            @Html.LabelFor(model => model.Texto)
        </div>
        <div class="custom-field">
            @Html.TextAreaFor(model => model.Texto, new { cols = 120, rows = 10 })
            @Html.ValidationMessageFor(model => model.Texto)
        </div>

        <div class="editor-label ptitle">
            @Html.LabelFor(model => model.Adjunto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Adjunto)
            @Html.ValidationMessageFor(model => model.Adjunto)
        </div>

        <p>
            <input type="submit" class="btn-success btn-lg" value="Enviar Mensaje" />
        </p>
    </fieldset>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
