@model MouseRidersWeb.DTO.MensajeDTO

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="customh2">Eliminar</h2>

<h3>¿Está seguro de que quiere eliminar el siguiente mensaje?</h3>


<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title ptitle text-uppercase">@Html.DisplayFor(model => model.Asunto)</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class=" col-md-12 col-lg-12 ">
                    <table class="table table-user-information">
                        <tbody class="pprofile">
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Asunto)</td>
                                <td>@Html.DisplayFor(model => model.Asunto)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Destinatario)</td>
                                <td>@Html.DisplayFor(model => model.Destinatario)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Texto)</td>
                                <td>@Html.DisplayFor(model => model.Texto)</td>
                            </tr>

                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Adjunto)</td>
                                <td>@Html.DisplayFor(model => model.Adjunto)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
          </div>
        </div>
    </div>
<div class="container-fluid">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    <p>
        <input type="submit" class="btn-lg btn-danger btn-block" value="Eliminar" />
             <p>
                @Html.ActionLink("Volver", "Index", "Home", null, new { @class = "btn btn-default btn-lg btn-block " })
            </p>
    </p>
    }
</div>
