@model MouseRidersGenNHibernate.EN.MouseRiders.MensajeEN

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h3>Are you sure you want to delete this?</h3>
    <fieldset>
        <legend>MensajeEN</legend>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Asunto)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Asunto)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Texto)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Texto)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Adjunto)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Adjunto)
        </div>
    </fieldset>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="Delete" /> |
            @Html.ActionLink("Back to List", "Index")
        </p>
    }

