@model MouseRidersGenNHibernate.EN.MouseRiders.MensajeEN

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "MensajeDetalles";
}
    <div>
        <h4>MensajeEN</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Asunto)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Asunto)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Texto)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Texto)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Adjunto)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Adjunto)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
