@model IEnumerable<MouseRidersWeb.DTO.MensajeDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="customh2">Mensajes</h2>

<div class="table-responsive">
    <table class="table table-condensed table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Asunto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destinatario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Texto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adjunto)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Asunto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destinatario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Texto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adjunto)
                </td>
                <td>
                    @Html.ActionLink("Modificar", "Edit", "mensaje", new { id = item.Id }, new { @class = "btn btn-default btn-xs btn-block" })
                    @Html.ActionLink("Eliminar", "Delete", "mensaje", new { id = item.Id }, new { @class = "btn btn-danger btn-xs btn-block " })
                    
                </td>

            </tr>
        }

    </table>
</div>