@model MouseRidersWeb.DTO.MensajeDTO

@{
    ViewBag.Title = "Redactor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="customh2">Contactar con un redactor</h2>
<p class="psection">
    Envía un mensaje a nuestros redactores. Uno de los miembros del equipo de redacción recibirá tu mensaje y se pondrá en contacto contigo si es necesario.
</p>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>

        @Html.LabelFor(model => model.Asunto)
        <span class="custom-field">
            @Html.EditorFor(model => model.Asunto)
            @Html.ValidationMessageFor(model => model.Asunto)
        </span>

        <div class="editor-label">
            @Html.LabelFor(model => model.Texto)
        </div>
        <div class="editor-field">
            @Html.TextArea("PrimerComentario", new { rows = 8, id = "comentar", @placeholder = "Escriba aquí su comentario" })
            @Html.ValidationMessageFor(model => model.Texto)
        </div>

        <div class="form-group">
            <label for="AdjuntoR">Adjuntar un archivo</label>
            <input type="file" class="form-control" id="AdjuntoR" name="file"/>
        </div>

        <input type="submit" class="btn btn-primary" value="Enviar mensaje a Redactor" />
    </fieldset>
}

@Html.ActionLink("Volver", "Index", "Redaccion", null, new { @class = "btn-secondary2 btn-lg", style = "text-decoration:none" })

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
