@model MouseRidersWeb.DTO.MensajeDTO

@{
    ViewBag.Title = "Sugerir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="customh2">Sugerir un contenido</h2>
<p class="psection">
    Sugiérenos cualquier contenido que eches en falta en nuestra web
</p>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>

        <strong>
            Título que sugieres para el contenido:
        </strong>
        <span class="custom-field">
            @Html.EditorFor(model => model.Asunto)
            @Html.ValidationMessageFor(model => model.Asunto)
        </span>

        <div class="editor-label">
            <strong>Descripción del contenido:</strong>
        </div>
        <div class="editor-field">
            @Html.TextArea("PrimerComentario", new { rows = 8, id = "comentar", @placeholder = "Escriba aquí su comentario" })
            @Html.ValidationMessageFor(model => model.Texto)
        </div>

        <div class="form-group">
            <label for="AdjuntoR">Adjuntar un archivo</label>
            <input type="file" class="form-control" id="AdjuntoR" name="file" />
        </div>

        <input type="submit" class="btn btn-primary" value="Enviar mensaje" />
    </fieldset>
}

@Html.ActionLink("Volver", "Index", "Redaccion", null, new { @class = "btn-secondary2 btn-lg", style = "text-decoration:none" })

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
